[submodule "apps/backend"]
    path = apps/backend
    url = git@github.com:joey-dev/CylDiscordBot-backend.git

[submodule "apps/bot"]
    path = apps/bot
    url = git@github.com:joey-dev/CylDiscordBot-bot.git

[submodule "apps/frontend"]
    path = apps/frontend
    url = git@github.com:joey-dev/CylDiscordBot-frontend.git

[submodule "packages/languages"]
    path = packages/languages
    url = git@github.com:joey-dev/CylDiscordBotLanguage.git

[submodule "packages/types"]
    path = packages/types
    url = git@github.com:joey-dev/CylDiscordBot-types.git
